# Import the dependencies

In [6]:
# Use the citipy module to determine city based on latitude and longitude.
import pandas as pd
from pathlib import Path
from citipy import citipy

In [7]:
coordinates = pd.read_csv('./Resources/worldcities.csv')
coordinates.head()

  Country              City   Latitude  Longitude
0      ad  andorra la vella  42.500000   1.516667
1      ad           canillo  42.566667   1.600000
2      ad            encamp  42.533333   1.583333
3      ad        la massana  42.550000   1.516667
4      ad      les escaldes  42.500000   1.533333

In [11]:
latitude = [42.500000, 42.566667, 42.533333, 42.666667, 42.213889, 42.500000]
longitude = [1.516667, 1.600000, 1.583333, 21.166667, 20.739722, 1.533333]
coordinates = zip(latitude, longitude)
coordinates

In [12]:
# Use the print() function to display the latitude and longitude combinations.
for coordinate in coordinates:
    print(citipy.nearest_city(coordinate[0], coordinate[1]).city_name,
          citipy.nearest_city(coordinate[0], coordinate[1]).country_code)

andorra la vella ad
canillo ad
encamp ad
pristina rs
prizren rs
les escaldes ad

In [13]:
# Create a list for holding the cities.
cities = []
# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
# Print the city count to confirm sufficient count.
len(cities)

0