In [40]:
# Import the time library and the datetime module from the datetime library
import pandas as pd
import time
from datetime import datetime
import requests
from config import weather_api_key

In [41]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key
print(url)

http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=a288c9e5629ba33b3960826b7d39dd61

In [48]:
cities = ['Tuktoyaktuk', 'Hemanus', 'Bluff', 'Port Alfred', 'Outjo', 'Agadez', 'Paso De Los Toros', 'Avarua', 'Taltal', 'Airai']

In [50]:
# Create an empty list to hold the weather data.
city_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1

Beginning Data Retrieval
-----------------------------

In [51]:
# Loop through all the cities in our list.
for i in range(len(cities)):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

# Create endpoint URL with each city.
city_url = url + "&q=" + cities[i]

In [52]:
# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Processing Record 1 of Set 1 | Tuktoyaktuk
Processing Record 2 of Set 1 | Hemanus
City not found. Skipping...
Processing Record 3 of Set 1 | Bluff
Processing Record 4 of Set 1 | Port Alfred
Processing Record 5 of Set 1 | Outjo
Processing Record 6 of Set 1 | Agadez
Processing Record 7 of Set 1 | Paso De Los Toros
Processing Record 8 of Set 1 | Avarua
Processing Record 9 of Set 1 | Taltal
Processing Record 10 of Set 1 | Airai
-----------------------------
Data Retrieval Complete
-----------------------------

In [53]:
city_data_df = pd.DataFrame(city_data)
city_data_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Tuktoyaktuk,69.4541,-133.0374,-22.00,76,75,14.97,CA,2023-02-21 15:25:34
1,Bluff,-46.6000,168.3333,52.88,80,100,6.06,NZ,2023-02-21 15:25:35
2,Port Alfred,-33.5906,26.8910,68.18,73,5,5.99,ZA,2023-02-21 15:25:35
3,Outjo,-20.1167,16.1500,89.26,12,14,5.30,NA,2023-02-21 15:25:35
4,Agadez,19.7500,10.2500,77.00,12,0,7.52,NE,2023-02-21 15:25:35
5,Paso De Los Toros,-32.8167,-56.5167,83.66,41,6,9.22,UY,2023-02-21 15:25:35
6,Avarua,-21.2078,-159.7750,73.45,100,0,1.14,CK,2023-02-21 15:25:35
7,Taltal,-25.4000,-70.4833,73.44,72,21,5.01,CL,2023-02-21 15:25:36
8,Airai,-8.9266,125.4092,60.91,93,100,0.78,TL,2023-02-21 15:25:36

In [59]:
new_column_order = ['City', 'Country', 'Date', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness', 'Wind Speed']
city_data_df = city_data_df[new_column_order]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Tuktoyaktuk,CA,2023-02-21 15:25:34,69.4541,-133.0374,-22.00,76,75,14.97
1,Bluff,NZ,2023-02-21 15:25:35,-46.6000,168.3333,52.88,80,100,6.06
2,Port Alfred,ZA,2023-02-21 15:25:35,-33.5906,26.8910,68.18,73,5,5.99
3,Outjo,NA,2023-02-21 15:25:35,-20.1167,16.1500,89.26,12,14,5.30
4,Agadez,NE,2023-02-21 15:25:35,19.7500,10.2500,77.00,12,0,7.52
5,Paso De Los Toros,UY,2023-02-21 15:25:35,-32.8167,-56.5167,83.66,41,6,9.22
6,Avarua,CK,2023-02-21 15:25:35,-21.2078,-159.7750,73.45,100,0,1.14
7,Taltal,CL,2023-02-21 15:25:36,-25.4000,-70.4833,73.44,72,21,5.01
8,Airai,TL,2023-02-21 15:25:36,-8.9266,125.4092,60.91,93,100,0.78

In [62]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"

# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")